<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publish Course</title>
  </head>
  <body>
    <h1>Create Chapters for {{ course.title }}</h1>
    <form method="POST">
      {% csrf_token %} {% for form in chapter_forms %}
      <fieldset>
        <legend>Chapter {{ forloop.counter }}</legend>
        {{ form.as_p }}
      </fieldset>
      {% endfor %}
      <button type="submit" name="form_type" value="chapters">
        Save Chapters
      </button>
    </form>
    <form method="POST">
      {% csrf_token %} {{ couponForm.as_p }}
      <button type="submit" name="form_type" value="coupon">
        Create Coupon
      </button>
    </form>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" name="form_type" value="publish">Publish</button>
    </form>
    {% if successmessage %}
    <p>{{successmessage}}</p>
    {% endif %} {% if errormessage %}
    <p>{{errormessage}}</p>
    {% endif %}
  </body>
</html>
